@model IEnumerable<WebLMS.Models.ViewModel.StudentLectureViewModel>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            @foreach (var item in Model)
            {
                <li>
                    <a id="@item.Id" href="#@item.Id" class="lecture-ref" data-id="@item.Id">@item.Title</a>
                </li>
            }
        </ul>
    </nav>
    <div id="lecture-content">
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            console.log("ready func")
            var hash = window.location.hash
            if (hash !== "") {
                $("#" + hash.substring(1)).click();
                setTimeout(function() {
                    window.scrollTo(0, 0);
                }, 1);
            }
        });
        $('.lecture-ref').click(function (e) {            
            var id = $(this).data("id");
            console.log(id);
            $('#lecture-content')
                .load("/StudentsHome/LectureContent", { "lectureId": id },
                    function () {
                        
                    });
            setTimeout(function() {
                    window.scrollTo(0, 0);
                }, 1);
        });
    </script>
}